{{#each data}}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                {{title}}
                <a href="{{link}}" class="btn btn-primary">Read Article</a>
                <button type="button" class="btn btn-success seeNote" data-id={{_id}} data-toggle="modal" data-target="#exampleModal">
                    Notes
                </button>
            </div>
        </div>
    </div>
</div>
{{/each}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <span class="noteText"></span>
            </div>
            <div class="modal-body">
                <div class="input-group mb-12">
                    <div class="input-group-prepend">
                    </div>
                    <input type="text" class="form-control note" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary saveNote">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script>
    $(".seeNote").on("click", function() {
        $('.noteText').empty();
        var dataId = $(this).attr('data-id');
        $(".saveNote").attr('data-id', dataId);
        $.ajax({
            method: "GET",
            url: "/note/" + dataId
        }).then(function(result){
            $('.noteText').text(result);
        })
    })
    $(".saveNote").on("click", function() {
        if($(".note").val() !== "") {
            var noteToSave = $(".note").val().trim();
            $.ajax({
                method: "POST",
                url: "/article/" + $(".saveNote").attr('data-id'),
                data: {body: noteToSave}
            })
        }
    })
</script>